* text=auto

*.blade.php linguist-vendored diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php linguist-vendored diff=php

/.github export-ignore
CHANGELOG.md export-ignore

composer.lock linguist-vendored
package-lock.json linguist-vendored
